<section class="region region--alt">
  <div class="layout layout--wide">
    <div class="tabs__wrapper">
      <ul class="tabs" data-tabs-list>
        <li class="tab">
          <LinkTo @route="index" class="tab__link"><i class="fa fa-angle-left"></i> Terug naar overzicht</LinkTo>
        </li>
      </ul>
    </div>

    <div class="grid">
      <div class="col--8-12 col--1-1--s">
        <h1 class="h1">{{@heading}}</h1>
         {{yield}}
      </div>
    </div>
  </div>
</section>
