<div ...attributes>
  <AuButton @onClick={{this.toggleSnippetVisbility}}>
    {{#if this.showSnippet}}
      Verberg snippet
    {{else}}
      Laat snippet zien
    {{/if}}
  </AuButton>
  {{#if this.showSnippet}}
    {{#let (get-code-snippet @snippetFilename) as |snippet|}}
      <CodeBlock @language={{snippet.language}} @code={{snippet.source}} />
    {{/let}}
  {{/if}}
</div>
