<AuHeading @level="1" @skin="1">Leidinggevendendatabank</AuHeading>
<p>
  De leidinggevenden databank bevat de leidinggevenden van de lokale besturen en hun verzelfstandigde entiteiten. Deze databank volgt een uitbreiding op het applicatieprofiel <AuLinkExternal href="https://data.vlaanderen.be/doc/applicatieprofiel/mandatendatabank/">mandatendatabank</AuLinkExternal>. Dit document beschrijft deze uitbreiding.
</p>

<AuHeading @level="2" @skin="2">Overzicht</AuHeading>
<img src="assets/images/leidinggevenden.jpg" alt="leidinggevend UML diagram" />

<AuHeading @level="2" @skin="2">Gebruikte prefixen</AuHeading>
<AuTable>
  <:header>
    <tr>
      <th>Prefix</th>
      <th>URI</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td><CodeInline @code="adres" /></td>
      <td><AuLinkExternal href="https://data.vlaanderen.be/ns/adres#">https://data.vlaanderen.be/ns/adres#</AuLinkExternal></td>
    </tr>
    <tr>
      <td><CodeInline @code="foaf" /></td>
      <td><AuLinkExternal href="http://xmlns.com/foaf/0.1/">http://xmlns.com/foaf/0.1/</AuLinkExternal></td>
    </tr>
    <tr>
      <td><CodeInline @code="lblodlg" /></td>
      <td><AuLinkExternal href="http://data.lblod.info/vocabularies/leidinggevenden/">http://data.lblod.info/vocabularies/leidinggevenden/</AuLinkExternal></td>
    </tr>
    <tr>
      <td><CodeInline @code="locn" /></td>
      <td><AuLinkExternal href="http://www.w3.org/ns/locn#">http://www.w3.org/ns/locn#</AuLinkExternal></td>
    </tr>
    <tr>
      <td><CodeInline @code="mandaat" /></td>
      <td><AuLinkExternal href="http://data.vlaanderen.be/ns/mandaat#">http://data.vlaanderen.be/ns/mandaat#</AuLinkExternal></td>
    </tr>
    <tr>
      <td><CodeInline @code="person" /></td>
      <td><AuLinkExternal href="https://data.vlaanderen.be/ns/persoon#">https://data.vlaanderen.be/ns/persoon#</AuLinkExternal></td>
    </tr>
    <tr>
      <td><CodeInline @code="persoon" /></td>
      <td><AuLinkExternal href="http://www.w3.org/ns/person#">http://www.w3.org/ns/person#</AuLinkExternal></td>
    </tr>
    <tr>
      <td><CodeInline @code="org" /></td>
      <td><AuLinkExternal href="http://www.w3.org/ns/org#">http://www.w3.org/ns/org#</AuLinkExternal></td>
    </tr>
    <tr>
      <td><CodeInline @code="schema" /></td>
      <td><AuLinkExternal href="http://schema.org/">http://schema.org/</AuLinkExternal></td>
    </tr>
    <tr>
      <td><CodeInline @code="xsd" /></td>
      <td><AuLinkExternal href="http://www.w3.org/2001/XMLSchema#">http://www.w3.org/2001/XMLSchema#</AuLinkExternal></td>
    </tr>
  </:body>
</AuTable>

<AuHeading @level="2" @skin="2">Entiteiten</AuHeading>
<AuHeading @level="3" @skin="3">Adresvoorstelling</AuHeading>
<AuHeading @level="4" @skin="4">Klasse</AuHeading>
<p>
  <CodeInline @code="locn:Address" />
</p>
<AuHeading @level="4" @skin="4">Beschrijving</AuHeading>
<p>
  Leesbare voorstelling met enkel de basisgegevens van het adres, bedoeld voor het gebruik van een adres als attribuut van een ander object. Overgenomen uit <AuLinkExternal href="https://data.vlaanderen.be/doc/applicatieprofiel/adresregister/#Adresvoorstelling">OSLO applicatieprofiel adresregister</AuLinkExternal>.
</p>
<AuHeading @level="4" @skin="4">Eigenschappen</AuHeading>
<AuTable>
  <:header>
    <tr>
      <th>Naam</th>
      <th>URI</th>
      <th>Verwacht type</th>
      <th>Beschrijving</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td>adres-register-uri</td>
      <td><CodeInline @code="adres:verwijstNaar" /></td>
      <td><CodeInline @code="adres:Adres" /></td>
      <td>Adres waarvan de adresvoorstelling is afgeleid.</td>
    </tr>
    <tr>
      <td>gemeentenaam</td>
      <td><CodeInline @code="adres:gemeentenaam" /></td>
      <td><CodeInline @code="xsd:string" /></td>
      <td>Gemeentenaam van het adres.</td>
    </tr>
    <tr>
      <td>huisnummer</td>
      <td><CodeInline @code="adres:AdresVoorstelling.huisnummer" /></td>
      <td><CodeInline @code="xsd:string" /></td>
      <td>Alfanumerieke code officieel toegekend aan gebouweenheden, ligplaatsen, standplaatsen of percelen.</td>
    </tr>
    <tr>
      <td>postcode</td>
      <td><CodeInline @code="locn:postCode" /></td>
      <td><CodeInline @code="xsd:string" /></td>
      <td>Code waarmee het geografisch gebied dat adressen voor postale doeleinden groepeert wordt aangeduid.</td>
    </tr>
    <tr>
      <td>straatnaam</td>
      <td><CodeInline @code="adres:straatnaam" /></td>
      <td><CodeInline @code="xsd:string" /></td>
      <td>Straatnaam van het adres.</td>
    </tr>
    <tr>
      <td>volledig adres</td>
      <td><CodeInline @code="locn:fullAddress" /></td>
      <td><CodeInline @code="xsd:string" /></td>
      <td>Het complete adres in één string, al dan niet geformatteerd.</td>
    </tr>
  </:body>
</AuTable>

<AuHeading @level="3" @skin="3">Bestuursfunctie</AuHeading>
<AuHeading @level="4" @skin="4">Klasse</AuHeading>
<p>
  <CodeInline @code="lblodlg:Bestuursfunctie" />
</p>
<AuHeading @level="4" @skin="4">Beschrijving</AuHeading>
<p>
  De bevoegdheid om gedurende een bepaalde periode een bestuursorgaan te vormen of er deel van uit te maken. Specialisatie van <AuLinkExternal href="http://data.vlaanderen.be/ns/mandaat#Mandaat">Mandaat</AuLinkExternal>.
</p>

<AuHeading @level="4" @skin="4">Eigenschappen</AuHeading>
<AuTable>
  <:header>
    <tr>
      <th>Naam</th>
      <th>URI</th>
      <th>Verwacht type</th>
      <th>Beschrijving</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td>rol</td>
      <td><CodeInline @code="org:role" /></td>
      <td><CodeInline @code="org:Role" /></td>
      <td>Bestuurseenheid die de publicatie gemaakt heeft.</td>
    </tr>
    <tr>
      <td>contactgegevens</td>
      <td><CodeInline @code="schema:contactPoint" /></td>
      <td><CodeInline @code="schema:ContactPoint" /></td>
      <td>Contactgegevens voor de bestuursfunctie.</td>
    </tr>
  </:body>
</AuTable>

<AuHeading @level="3" @skin="3">Bestuursorgaan (in bestuursperiode)</AuHeading>
<AuHeading @level="4" @skin="4">Klasse</AuHeading>
<p>
  <CodeInline @code="besluit:Bestuursorgaan" />
</p>
<AuHeading @level="4" @skin="4">Beschrijving</AuHeading>
<p>
  Een bestuursorgaan, beperkt tot een bepaalde bestuursperiode.
</p>
<AuHeading @level="4" @skin="4">Eigenschappen</AuHeading>
<AuTable>
  <:header>
    <tr>
      <th>Naam</th>
      <th>URI</th>
      <th>Verwacht type</th>
      <th>Beschrijving</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td>bevat</td>
      <td><CodeInline @code="lblodlg:heeftBestuursfunctie" /></td>
      <td><CodeInline @code="lblodlg:Bestuursfunctie" /></td>
      <td>Een bestuursfunctie binnen het orgaan.</td>
    </tr>
  </:body>
</AuTable>

<AuHeading @level="3" @skin="3">Contactgegevens</AuHeading>
<AuHeading @level="4" @skin="4">Klasse</AuHeading>
<p>
  <CodeInline @code="schema:ContactPoint" />
</p>
<AuHeading @level="4" @skin="4">Beschrijving</AuHeading>
<p>
  De contactgegevens voor een bestuursfunctie, dit kunnen algemene of persoonlijke contactgegevens zijn.
</p>
<AuHeading @level="4" @skin="4">Eigenschappen</AuHeading>
<AuTable>
  <:header>
    <tr>
      <th>Naam</th>
      <th>URI</th>
      <th>Verwacht type</th>
      <th>Beschrijving</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td>adres</td>
      <td><CodeInline @code="locn:address" /></td>
      <td><CodeInline @code="locn:Address" /></td>
      <td>Adres dat men kan aanschrijven.</td>
    </tr>
    <tr>
      <td>email</td>
      <td><CodeInline @code="schema:email" /></td>
      <td><CodeInline @code="xsd:string" /></td>
      <td>Email-adres waarnaar men kan mailen.</td>
    </tr>
    <tr>
      <td>telefoon</td>
      <td><CodeInline @code="schema:telephone" /></td>
      <td><CodeInline @code="xsd:string" /></td>
      <td>Telefoonnummer waarop men kan bellen.</td>
    </tr>
  </:body>
</AuTable>

<AuHeading @level="3" @skin="3">Functionaris</AuHeading>
<AuHeading @level="4" @skin="4">Klasse</AuHeading>
<p>
  <CodeInline @code="lblodlg:Functionaris" />
</p>
<AuHeading @level="4" @skin="4">Beschrijving</AuHeading>
<p>
  Een persoon in zijn rol als houder van een bestuursfunctie. Specialisatie van <AuLinkExternal href="http://data.vlaanderen.be/ns/mandaat#Mandataris">Mandataris</AuLinkExternal>.
</p>
<AuHeading @level="4" @skin="4">Eigenschappen</AuHeading>
<AuTable>
  <:header>
    <tr>
      <th>Naam</th>
      <th>URI</th>
      <th>Verwacht type</th>
      <th>Beschrijving</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td>bestuursfunctie</td>
      <td><CodeInline @code="org:holds" /></td>
      <td><CodeInline @code="lblodlg:Bestuursfunctie" /></td>
      <td>De bestuursfunctie die deze functionaris bekleedt.</td>
    </tr>
    <tr>
      <td>einde</td>
      <td><CodeInline @code="mandaat:einde" /></td>
      <td><CodeInline @code="xsd:dateTime" /></td>
      <td>Tijdstip vanaf wanneer de functionaris de bestuursfunctie niet langer opneemt.</td>
    </tr>
    <tr>
      <td>is bestuurlijke alias van</td>
      <td><CodeInline @code="mandaat:isBestuurlijkeAliasVan" /></td>
      <td><CodeInline @code="person:Person" /></td>
      <td>De persoon die de functionarisrol vervult.</td>
    </tr>
    <tr>
      <td>start</td>
      <td><CodeInline @code="mandaat:start" /></td>
      <td><CodeInline @code="xsd:dateTime" /></td>
      <td>Tijdstip vanaf wanneer de functionaris de bestuursfunctie opneemt.</td>
    </tr>
  </:body>
</AuTable>

<AuHeading @level="3" @skin="3">Persoon</AuHeading>
<AuHeading @level="4" @skin="4">Klasse</AuHeading>
<p>
  <CodeInline @code="person:Person" />
</p>
<AuHeading @level="4" @skin="4">Beschrijving</AuHeading>
<p>
  Natuurlijk persoon. Overgenomen uit het <AuLinkExternal href="https://data.vlaanderen.be/doc/applicatieprofiel/mandatendatabank/#Persoon">OSLO applicatieprofiel mandatendatabank</AuLinkExternal>.
</p>
<AuHeading @level="4" @skin="4">Eigenschappen</AuHeading>
<AuTable>
  <:header>
    <tr>
      <th>Naam</th>
      <th>URI</th>
      <th>Verwacht type</th>
      <th>Beschrijving</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td>achternaam</td>
      <td><CodeInline @code="foaf:familyName" /></td>
      <td><CodeInline @code="xsd:string" /></td>
      <td>De familienaam van de persoon.</td>
    </tr>
    <tr>
      <td>alternatieve naam</td>
      <td><CodeInline @code="foaf:name" /></td>
      <td><CodeInline @code="xsd:string" /></td>
      <td>Een roepnaam van de persoon. 	Indien aanwezig is het aan te raden deze naam te gebruiken voor visualisaties in plaats van voornaam en familienaam.</td>
    </tr>
    <tr>
      <td>gebruikte voornaam</td>
      <td><CodeInline @code="persoon:gebruikteVoornaam" /></td>
      <td><CodeInline @code="xsd:string" /></td>
      <td>De te gebruiken voornaam van alle officiële voornamen van de persoon.</td>
    </tr>
  </:body>
</AuTable>