<AuHeading @level="1" @skin="1">Meldingsplicht API</AuHeading>
<p>
  Lokale besturen publiceren beslissingen die via de Toezicht module in het Loket voor Lokale Besturen gemeld moeten worden. Loket voor Lokale Besturen biedt een API aan waarop publicaties van beslissingen gemeld kunnen worden, waarna ze automatisch geharvest zullen worden en toevoegd worden als nieuwe melding in Loket voor Lokale Besturen. Dit document beschrijft de API voor automatische melding.
</p>

<AuHeading @level="2" @skin="2">Aanmaken nieuwe melding</AuHeading>
<AuHeading @level="3" @skin="3">API endpoint</AuHeading>
<p>
  Het aanmaken van een nieuwe melding gebeurt via een request naar
</p>
<CodeBlock @code="POST https://api.loket.lokaalbestuur.vlaanderen.be/melding" />
<p>
  met JSON-LD request body:
</p>
<Snippet @snippetFilename="reporting-obligation-quick-example.js" />
<p class="au-u-para-small au-u-muted">
  Bekijk welke annotaties gebruikt kunnen worden in de gepubliceerde pagina: <AuLink @route="docs.meldingsplicht-annotaties">annotaties voor automatische melding</AuLink>.
</p>
<p>
  Het aanvragen van een publisher URI en geheime sleutel (key) staan verderop beschreven in de sectie 'Authenticatie'.
</p>
<AuHeading @level="3" @skin="3">Scope van een melding</AuHeading>
<p>
  Er moet een melding gedaan worden per besluit/document. De link die gestuurd wordt in de <CodeInline @code="href" />-property van de request body moet een link zijn naar de pagina met de inhoud van het besluit/document. Dit mag geen overzichtspagina zijn waar er nog moet doorgeklikt worden naar een andere pagina. Er mogen wel nog andere besluiten/documenten geannoteerd staan op de pagina. De URI van het besluit dat gemeld wordt, wordt meegegeven in de <CodeInline @code="submittedResource" />-property. Verdere vereisten rond de gepubliceerde pagina's staan verderop beschreven.
</p>
<p>
  <strong>Bijvoorbeeld:</strong> <br />
  Gemeente Vlavirgem heeft de geannoteerde notulen van een zitting gepubliceerd op <AuLinkExternal href="#">http://vlavirgem.be/zittingen/20200304.html</AuLinkExternal>. De geannoteerde pagina bevat besluiten:
</p>
<ul>
  <li><AuLinkExternal href="#">http://data.vlavirgem.be/besluiten/id/besluit-A</AuLinkExternal>,</li>
  <li><AuLinkExternal href="#">http://data.vlavirgem.be/besluiten/id/besluit-B</AuLinkExternal>,</li>
  <li><AuLinkExternal href="#">http://data.vlavirgem.be/besluit/id/besluit-C</AuLinkExternal></li>
</ul>
<p>
  Er moeten dan 3 requests naar de melding API gestuurd worden. Alle requests hebben als <CodeInline @code="href" />-property: <AuLinkExternal href="#">http://vlavirgem.be/zittingen/20200304.html</AuLinkExternal>. De <CodeInline @code="submittedResource" />-property verschilt per request en bevat de URI van het besluit dat gemeld wordt.
</p>

<AuHeading @level="3" @skin="3">Meegeven van concept of inzendbaar status (optioneel)</AuHeading>
<p>
Indien een inzending aangemaakt wordt en volledig is, dan kan ze automatisch verzonden worden. Optioneel kan aangegeven worden dat de inzending in concept status is door de onderstaande URI voor "concept" als <CodeInline @code="status" />-property mee te geven. Hierdoor zal de inzending niet verzonden worden, maar als concept blijven staan tot manuele actie de inzending markeert als inzendbaar. Dit kan gedaan worden in de applicatie voor automatische meldingen of via een API call (ongedocumenteerd). Als het document de status van inzendbaar krijgt, wordt het meteen ingezonden als de data volledig is. Indien niet, wordt het alsnog in concept status gebracht voor manuele aanvulling en inzending. De mogelijke waarden voor de status zijn de URI's voor "concept" of "inzendbaar":
</p>
<AuTable>
  <:header>
    <tr>
      <th>Status</th>
      <th>URI</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td>Concept</td>
      <td>
        <AuLinkExternal href="http://lblod.data.gift/concepts/79a52da4-f491-4e2f-9374-89a13cde8ecd">http://lblod.data.gift/concepts/79a52da4-f491-4e2f-9374-89a13cde8ecd</AuLinkExternal>
      </td>
    </tr>
    <tr>
      <td>Inzendbaar</td>
      <td>
        <AuLinkExternal href="http://lblod.data.gift/concepts/f6330856-e261-430f-b949-8e510d20d0ff">http://lblod.data.gift/concepts/f6330856-e261-430f-b949-8e510d20d0ff</AuLinkExternal>
      </td>
    </tr>
  </:body>
</AuTable>
<p>
  Voorbeeld:
</p>
<Snippet @snippetFilename="reporting-obligation-optioneel-meegeven-draft-status.js" />

<AuHeading @level="3" @skin="3">JSON-LD context</AuHeading>
<p>
  Elk van voorgaande voorbeelden heeft een impliciete JSON-LD context. Deze context kan expliciet in de calls meegegeven worden, of een alternatieve context kan meegegeven worden. Op deze manier blijft de API maximaal flexibel. Deze context wordt ter beschikking gesteld op <AuLinkExternal href="https://lblod.data.gift/contexts/automatische-melding/v1/context.json">https://lblod.data.gift/contexts/automatische-melding/v1/context.json</AuLinkExternal>.
</p>
<Snippet @snippetFilename="reporting-obligation-json-ld-context.js" />

<AuHeading @level="2" @skin="2">Authenticatie</AuHeading>
<p>
  Een bestuurseenheid kan een externe partij authorizeren om automatische meldingen uit te voeren in hun naam. Het beheer van deze rechten en permissies zal op lange termijn gebeuren via ACM/IDM en het Gebruikersbeheer. Op korte termijn zal dit beheerd worden door ABB.
</p>
<p>
  Iedere externe partij krijgt een unieke identificator en sleutel die meegestuurd wordt in de automatische melding. Voor de test API kun je als softwareleverancier zelf een sleutel aanvragen via <AuLinkExternal href="mailto:digitaalABB@vlaanderen.be?subject=Geheime sleutel automatische melding API test">digitaalABB@vlaanderen.be</AuLinkExternal>. Je krijgt dan een random gemeente om mee te testen. Wanneer de productie API beschikbaar komt, zal een bestuur de sleutel kunnen aanvragen via <AuLinkExternal href="mailto:digitaalABB@vlaanderen.be?subject=Geheime sleutel automatische melding API productie">digitaalABB@vlaanderen.be</AuLinkExternal>. De lokale besturen zullen dan ook via <AuLinkExternal href="mailto:digitaalABB@vlaanderen.be?subject=Permissie voor softwareleverancier ikv automatische melding">digitaalABB@vlaanderen.be</AuLinkExternal> een aanvraag insturen om een softwareleverancier permissie te geven om in hun naam automatische meldingen in te sturen.
</p>

<AuHeading @level="2" @skin="2">Verwijderen van een melding</AuHeading>
<p>
  Het is mogelijk om een melding weer te verwijderen op voorwaarde dat het meegeleverde document nog niet verzonden werd naar het Loket. Dit kan gebruikt worden om documenten die nog niet volledig waren en daarom bleven steken in "Concept" status te verwijderen, aan te vullen en opnieuw te proberen melden. Na het melden van een document via de bovenstaande API wordt er een antwoord verzonden onder de vorm van een JSON object:
</p>
<Snippet @snippetFilename="reporting-obligation-response-example.json" />
<p>
  De <CodeInline @code="submission" /> eigenschap bevat de URI voor de nieuw aangemaakte melding voor het ingezonden document. Deze kan worden gebruikt voor het formuleren van een aanvraag voor verwijdering dat kan worden verzonden op volgende URL:
</p>
<CodeBlock @code="POST https://api.loket.lokaalbestuur.vlaanderen.be/delete-melding" />
<p>
  Volgend codefragment toont de minimale body voor zo'n aanvraag.
</p>
<Snippet @snippetFilename="reporting-obligation-delete-request-example.json" />
<p>
Net zoals bij de melding is authenticatie op dezelfde manier vereist met <CodeInline @code="organization" /> en <CodeInline @code="publisher" /> eigenschappen.
</p>

<AuHeading @level="2" @skin="2" id="publicatie-documenten">Publicatie van documenten en besluiten</AuHeading>
<AuHeading @level="3" @skin="3">Annotaties voor automatische melding</AuHeading>
<p>
  Bekijk <AuLink @route="docs.meldingsplicht-annotaties">hier</AuLink> welke annotaties gebruikt kunnen worden op de gepubliceerde pagina's om besluiten automatisch te verzenden.
</p>
<AuHeading @level="3" @skin="3">Vereisten voor gepubliceerde pagina's</AuHeading>
<p>
  Opdat de documenten en besluiten op een correcte manier automatisch geoogst kunnen worden, moeten de URLs waarop de documenten gepubliceerd worden aan enkele vereisten voldoen:
</p>
<AuHeading @level="4" @skin="4">SSL en certificaten</AuHeading>
<p>
  Wanneer pagina's gepubliceerd worden met HTTPS moeten ze over een geldig certificaat beschikken. Dit certificaat omvat niet enkel het eigen certificaat, maar ook de hele keten tot aan het root-certificaat. Er bestaan tools, zoals <AuLinkExternal href="https://www.ssllabs.com/ssltest/index.html">deze</AuLinkExternal> om de geldigheid van de certificaten-ketting te testen.
</p>
<AuHeading @level="4" @skin="4">JavaScript</AuHeading>
<p>
  De gepubliceerde pagina's mogen JavaScript bevatten, maar dit mag geen impact hebben op de inhoud van de pagina. Alle annotaties die geharvest moeten worden, moeten beschikbaar zijn bij het ophalen van de pagina, zonder dat er verdere scripts nodig zijn. Dit kan bijvoorbeeld getest worden door het gebruik van het <CodeInline @code="curl" /> commando om de gepubliceerde pagina op te halen.
</p>
<AuHeading @level="3" @skin="3">Ophalen van niet-publieke documenten [BETA]</AuHeading>
<p>
  Indien er private documenten moeten worden opgehaald, kunnen authenticatiegevens worden doorgegeven aan de crawler. <br />
  De volgende authenticatie-schemas worden ondersteund:
</p>
<ul>
  <li>
    <AuLinkExternal href="https://datatracker.ietf.org/doc/html/rfc7617">Basic Authentication</AuLinkExternal>
  </li>
  <li>
    <AuLinkExternal href="https://tools.ietf.org/html/rfc6749#section-4.4">OAuth 2.0 Client Credentials Grant</AuLinkExternal> (zie ook <AuLinkExternal href="https://oauth.net/2/grant-types/client-credentials/">hier</AuLinkExternal>)
    <ul>
      <li>
        Met uitbreiding van <AuLinkExternal href="https://datatracker.ietf.org/doc/html/rfc8707">Resource Indicators</AuLinkExternal>
      </li>
    </ul>
  </li>
</ul>
<p>
  Deze lijst is niet definitief, en kan -in functie van de noden- uitgebreid worden. In geval van vragen, kan u steeds terecht op <AuLinkExternal href="mailto:digitaalABB@vlaanderen.be">digitaalABB@vlaanderen.be</AuLinkExternal>
</p>
<AuHeading @level="4" @skin="4">Overzicht</AuHeading>
<p>
  Een key <AuLinkExternal href="http://lblod.data.gift/vocabularies/automatische-melding/targetAutenticationConfiguration">authentication</AuLinkExternal> dient toegevoed worden aan de body van het request. De informatie die onder de key valt, zal gebruikt worden voor de url van het te ophalen document en alle relevante gerelateerde documenten (bijlagen en <AuLinkExternal href="http://lblod.data.gift/vocabularies/besluit/linkToPublication">linkToPublication</AuLinkExternal>).
</p>
<AuHeading @level="4" @skin="4">Basic Authentication</AuHeading>
<p>
  De key 'authentication' wordt toegevoegd als volgt aan het request:
</p>
<Snippet @snippetFilename="submission-basic-auth.js" />
<AuHeading @level="4" @skin="4">OAuth 2.0 Client Credentials Grant</AuHeading>
<p>
  De key 'authentication' wordt toegevoegd als volgt aan het request:
</p>
<Snippet @snippetFilename="submission-oauth2-client-credentials.js" />
<p>
  De key 'resource' is hier optioneel en kan gebruikt worden om verdere beperkingen op te leggen over de op te halen resource, conform:  <AuLinkExternal href="https://datatracker.ietf.org/doc/html/rfc8707">Resource Indicators</AuLinkExternal>. Noteer, op OAuth 2.0 zijn er veel variaties mogelijk, contacteer ons gerust indien er uitbreidingen gewenst zijn.
</p>
<AuHeading @level="4" @skin="4">Belangrijke opmerking</AuHeading>
<p>
  We gaan ervan uit dat de credentials regelmatig geroteerd worden, teneinde de veiligheid te verhogen.
</p>

<AuHeading @level="2" @skin="2">Ontwikkeling en test</AuHeading>
<p>
  Voor het ontwikkelen en testen van automatische melding is een test endpoint ter beschikking gesteld op:
</p>
<CodeBlock @code="POST https://api.loket.lblod.info/melding" />
<p>
  De publisher URI en geheime sleutel voor deze omgeving moeten eerst aangevraagd worden zoals beschreven onder 'Authenticatie'. De verwerking van de melding gebeurt asynchroon, maar zou in normale omstandigheden in een tijdspanne van enkele minuten afgehandeld worden.
</p>
<p>
  Om te valideren hoe een melding er zal uitzien in het Loket van Lokale Besturen is een web applicatie beschikbaar gesteld op <AuLinkExternal href="https://api.loket.lblod.info/mock-login">https://api.loket.lblod.info/mock-login</AuLinkExternal>. Je kan inloggen door de gewenste bestuurseenheid aan te klikken in de lijst. Vervolgens wordt een lijst getoond van alle meldingen die ontvangen zijn. Wanneer op het 'detail' van een melding geklikt wordt, kan bekeken worden welke kennis er uit het gepubliceerde document geharvest is en of deze al dan niet geldig/volledig is.
</p>

<AuHeading @level="2" @skin="2">Meldingsregels</AuHeading>
<p>
  Informatie over welk type besluit meldingsplichtig is en dit voor welke type bestuur, wordt bijghouden in de
  <AuLink @route="docs.centrale-vindplaats-sparql">centrale-vindplaats</AuLink>. <br />
  Dit endpoint kan dan bevraagd worden om te bepalen of een bestuur al dan niet een inzending kan of moet insturen.
</p>
<p>
  Het model van dergelijke regel ziet er als volgt uit:
</p>

<AuHeading @level="3" @skin="3">Gebruikte prefixen</AuHeading>
<AuTable>
  <:header>
    <tr>
      <th>Prefix</th>
      <th>URI</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td><CodeInline @code="lblodBesluit" /></td>
      <td><AuLinkExternal href="http://lblod.data.gift/vocabularies/besluit/">http://lblod.data.gift/vocabularies/besluit/</AuLinkExternal></td>
    </tr>
    <tr>
      <td><CodeInline @code="schema" /></td>
      <td><AuLinkExternal href="http://schema.org/">http://schema.org/</AuLinkExternal></td>
    </tr>
    <tr>
      <td><CodeInline @code="skos" /></td>
      <td><AuLinkExternal href="http://www.w3.org/2004/02/skos/core#">http://www.w3.org/2004/02/skos/core#</AuLinkExternal></td>
    </tr>
    <tr>
      <td><CodeInline @code="xsd" /></td>
      <td><AuLinkExternal href="http://www.w3.org/2001/XMLSchema#">http://www.w3.org/2001/XMLSchema#</AuLinkExternal></td>
    </tr>
    <tr>
      <td><CodeInline @code="rule" /></td>
      <td><AuLinkExternal href="http://lblod.data.gift/vocabularies/notification/">http://lblod.data.gift/vocabularies/notification/</AuLinkExternal></td>
    </tr>
  </:body>
</AuTable>

<AuHeading @level="3" @skin="3"><CodeInline @code="rule:NotificationRule" /></AuHeading>
<p>
  Beschrijft de meldingsregel voor een bepaald type besluit
</p>
<AuHeading @level="4" @skin="4">Eigenschappen</AuHeading>
<AuTable>
  <:header>
    <tr>
      <th>Naam</th>
      <th>URI</th>
      <th>Verwacht type</th>
      <th>Beschrijving</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td>geldig vanaf</td>
      <td><CodeInline @code="schema:validFrom" /></td>
      <td><CodeInline @code="xsd:dateTime" /></td>
      <td>Beschrijft de inwerkingstreding van de meldingsregel.</td>
    </tr>
    <tr>
      <td>geldig tot</td>
      <td><CodeInline @code="schema:validThrough " /></td>
      <td><CodeInline @code="xsd:dateTime" /></td>
      <td>Beschrijft de uitwerkingstreding van de meldingsregel.</td>
    </tr>
    <tr>
      <td>geldig voor</td>
      <td><CodeInline @code="lblodBesluit:decidableBy" /></td>
      <td><CodeInline @code="skos:Concept" /></td>
      <td>
        Beschrijving van het type bestuur voor wie de regel geldig is. <br />
        De concepten staan beschreven op <AuLinkExternal href="https://data.vlaanderen.be/doc/conceptscheme/BestuurseenheidClassificatieCode">data.vlaanderen.be/doc/conceptscheme/BestuurseenheidClassificatieCode</AuLinkExternal>
      </td>
    </tr>
    <tr>
      <td>meldingsplichtig</td>
      <td><CodeInline @code="lblodBesluit:obligationToReport" /></td>
      <td><CodeInline @code="xsd:boolean" /></td>
      <td>Beschrijft of het hier over een meldingsplichtig besluit gaat</td>
    </tr>
  </:body>
</AuTable>

<AuHeading @level="3" @skin="3">Link naar <CodeInline @code="rule:NotificationRule" /></AuHeading>
<p>
  Elementen uit de codelijsten <AuLinkExternal href="https://data.vlaanderen.be/id/concept/BesluitDocumentType/">BesluitDocumentType</AuLinkExternal> en <AuLinkExternal href="https://data.vlaanderen.be/id/concept/BesluitType/">BesluitType</AuLinkExternal> worden gelinkt met het predikaat <AuLinkExternal href="http://lblod.data.gift/vocabularies/besluit/">lblodBesluit:notificationRule</AuLinkExternal> om te verwijzen naar de specifieke regels die van toepassing op het type besluit.
</p>
<AuHeading @level="4" @skin="4">Eigenschappen</AuHeading>
<AuTable>
  <:header>
    <tr>
      <th>Naam</th>
      <th>URI</th>
      <th>Verwacht type</th>
      <th>Beschrijving</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td>notificationRule</td>
      <td><CodeInline @code="lblodBesluit:notificationRule" /></td>
      <td><CodeInline @code="rule:NotificationRule" /></td>
      <td>Beschrijft welke meldinsregels van toepassing zijn op het type besluit of document</td>
    </tr>
  </:body>
</AuTable>

<AuHeading @level="3" @skin="3">Voorbeelden</AuHeading>
<AuHeading @level="4" @skin="4">RDF-snippet</AuHeading>
<p>
  De volgende snippet beschrijft hoe het er kan uitzien in RDF-formaat.
</p>
<Snippet @snippetFilename="example-notification-rule.turtle" />
<p>
  Noteer: het gaat hier om een illustratief voorbeeld.
</p>
<AuHeading @level="4" @skin="4">SPARQL-query</AuHeading>
<p>
  De volgende SPARQL-query geeft een voorbeeld van hoe
  <AuLink @route="docs.centrale-vindplaats-sparql">centrale-vindplaats</AuLink> bevraagd kan worden om meer informatie te vinden over de regels. <br />
  Hier worden alle meldingsplichtige besluiten opgelijst voor een Gemeente.
</p>
<Snippet @snippetFilename="example-notification-rule.sparql" />