<AuHeading @level="1" @skin="1">Annotaties voor publicaties</AuHeading>
<p>
  Lokale besturen publiceren documenten en beslissingen zoals agenda's, besluitenlijsten, notulen, enz. Opdat de kennis automatisch door een machine uit deze documenten ge&euml;xtraheerd kan worden, moeten ze op een correcte wijze geannoteerd te worden. Deze annotaties gebeuren volgens <AuLinkExternal href="https://data.vlaanderen.be/doc/applicatieprofiel/besluit-publicatie/">het Besluit Publicatie applicatieprofiel</AuLinkExternal> en de <AuLink @route="docs.meldingsplicht-annotaties">annotaties voor automatische melding</AuLink>. Dit document beschrijft de annotaties die gebruikt worden om gepubliceerde documenten en overzichtpagina's te annoteren.
</p>

<AuHeading @level="2" @skin="2" id="annotatie-publicaties">Annotatie van gepubliceerde documenten</AuHeading>
<AuHeading @level="3" @skin="3" id="annotatie-publicaties-document-types">Document en besluit types</AuHeading>
<p>
  Ieder document dat gepubliceerd wordt is een <AuLinkExternal href="https://data.vlaanderen.be/doc/applicatieprofiel/besluit-publicatie/#Document">foaf:Document</AuLinkExternal>. Ieder document heeft een type dat geannoteerd kan worden met het <CodeInline @code="typeof" /> attribuut. De gekende besluit- en document types zijn gepubliceerd als codelijst op <AuLinkExternal href="https://data.vlaanderen.be">data.vlaanderen.be</AuLinkExternal>:
</p>
<AuTable>
  <:header>
    <tr>
      <th>Codelijst</th>
      <th>URL</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td>Besluit type</td>
      <td>
        <AuLinkExternal href="https://data.vlaanderen.be/doc/conceptscheme/BesluitType">https://data.vlaanderen.be/doc/conceptscheme/BesluitType</AuLinkExternal>
      </td>
    </tr>
    <tr>
      <td>Document type</td>
      <td>
        <AuLinkExternal href="https://data.vlaanderen.be/doc/conceptscheme/BesluitDocumentType">https://data.vlaanderen.be/doc/conceptscheme/BesluitDocumentType</AuLinkExternal>
      </td>
    </tr>
  </:body>
</AuTable>

<AuHeading @level="4" @skin="4">Voorbeeld</AuHeading>
<p>
  Via RDFa annotaties kan dit als volgt weergegeven worden:
</p>
<Snippet @snippetFilename="publicatie-annotaties/voorbeeld-rdfa-document-met-type.html" />
<p>
  Annotaties van de overige types van besluiten en documenten zijn analoog aan bovenstaand voorbeeld van een agenda.
</p>

<AuHeading @level="3" @skin="3" id="document-types-zitting">Annotatie van de relatie naar een zitting</AuHeading>
<p>
  Ieder document dat gepubliceerd wordt, moet via een annotatie gerelateerd zijn aan een zitting. Voor documenten dat geen besluit zijn, kunnen volgende predicaten gebruikt worden om ze aan een zitting te relateren:
</p>
<AuTable>
  <:header>
    <tr>
      <th>Document type</th>
      <th>Predicaat om te relateren aan zitting</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td>Agenda</td>
      <td><CodeInline @code="besluit:heeftAgenda" /></td>
    </tr>
    <tr>
      <td>Besluitenlijst</td>
      <td><CodeInline @code="besluit:heeftBesluitenlijst" /></td>
    </tr>
    <tr>
      <td>Uittreksel</td>
      <td><CodeInline @code="besluit:heeftUittreksel" /></td>
    </tr>
    <tr>
      <td>Notulen</td>
      <td><CodeInline @code="besluit:heeftNotulen" /></td>
    </tr>
  </:body>
</AuTable>
<p>
  Dit kan op 2 manieren gebeuren:
</p>
<ul>
  <li>Op de pagina met het gepubliceerde document zelf</li>
  <li>Op een andere pagina met een link naar het gepubliceerde document</li>
</ul>

<AuHeading @level="4" @skin="4" id="annotatie-publicaties-document-types-zitting">Zitting annoteren op de pagina met het gepubliceerde document</AuHeading>
<p>
  De relatie tussen een zitting en het gepubliceerde document kan als volgt op &eacute;&eacute;n pagina geannoteerd worden:
  <Snippet @snippetFilename="publicatie-annotaties/voorbeeld-rdfa-document-zitting-relatie-een-pagina.html" />
</p>

<AuHeading @level="4" @skin="4">Zitting annoteren met een link naar het gepubliceerde document</AuHeading>
<p>
  De relatie tussen een zitting en een gepubliceerd document kan ook op een andere pagina dan die van het gepubliceerde document geannoteerd worden.
  <Snippet @snippetFilename="publicatie-annotaties/voorbeeld-rdfa-document-zitting-relatie-hyperlink.html" />
</p>

<AuHeading @level="2" @skin="2" id="annotatie-overzicht">Annotatie van overzichtspagina's</AuHeading>
<p>
  De URLs die ingestuurd worden bevatten niet altijd de geannoteerde documenten. Vaak bevat de ingestuurde URL een of meerdere links naar pagina's met geannoteerde documenten. Denk bijvoorbeeld aan een overzichtspagina waarop alle zittingen van de gemeenteraad opgelijst worden. Om de navigatie naar relevante pagina's met RDFa kennis te faciliteren, kunnen hyperlinks met een specifieke property <CodeInline @code="http://lblod.data.gift/vocabularies/besluit/linkToPublication" /> geannoteerd worden waardoor de Besluit Publicatie harvester ook deze gelinkte pagina's zal harvesten om er de nodige kennis uit te extraheren.
</p>
<Snippet @snippetFilename="publicatie-annotaties/voorbeeld-rdfa-document-link-publicatie.html" />