<section class="region region--alt">
  <div class="layout layout--wide">
    <div class="tabs__wrapper">
      <ul class="tabs" data-tabs-list>
        <li class="tab">
          {{#link-to "index" class="tab__link"}}<i class="fa fa-angle-left"></i> Terug naar overzicht{{/link-to}}
        </li>
      </ul>
    </div>

    <div class="grid">
      <div class="col--8-12 col--1-1--s">
        <h1 class="h1">Rijksregisternummer naar Persoon URI API</h1>
        <p>
          Het Rijksregisternummer is een veelgebruikte idenitficator voor een persoon.  Helaas bevat deze identificator persoonlijke informatie zoals het geslacht en de geboortedatum van de persoon waardoor deze niet in alle contexten uitgewisseld kan worden.  Met behulp van een individuele overeenkomst met een bestuur, is het mogelijk om de URI van een persoon op te vragen op basis van het rijksregisternummer.  Dit document beschrijft de API om de URI van een persoon op te vragen op basis van diens rijksregisternummer en de bestuurseenheid waar hij een functie voor uitoefent.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="region">
  <div class="layout layout--wide">
    <div class="grid">
      <div class="col--8-12 col--1-1--s">
        <article class="u-spacer--large">
        	<h2 class="h2" id="todo">Opvragen URI</h2>
          <p class="u-spacer">
            Geeft de URI van een persoon terug indien de aanvragende entiteit gemachtigd is voor het opgegeven bestuur en de persoon teruggevonden kon worden.  De request kan als GET of als POST opgevraagd worden, in beide gevallen wordt een JSON body verwacht.

            <CodeBlock>POST https://rrn.api.lblod.info/rrn</CodeBlock>

            Volgende voorbeelden beschrijven de JSON body van deze calls.
          </p>

          <h3 class="h3">Kortste voorbeeld</h3>
          <p>
            Een kort voorbeeld van de API:
            {{#let (get-code-snippet "rrn-quick-example.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>

          <p>
            Een succesvol antwoord heeft de vorm van:

            {{#let (get-code-snippet "rrn-quick-example-response.js") as |snippet|}}
              <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
            {{/let}}
          </p>

          In dit antwoord bevindt de URI van de persoon zich in de eigenschap <code>uri</code>.  De 404 status wordt teruggegeven indien geen antwoord gevonden werd.  Dat kan voorvallen omdat de persoon niet gevonden is binnen de opgegeven bestuurseenheid of omdat de meegegeven authenticatie geen recht heeft de persoonsinformatie op te vragen.
        </article>
      </div>
    </div>
  </div>
</section>

<section class="region">
  <div class="layout layout--wide">
    <div class="grid">
      <div class="col--8-12 col--1-1--s">
        <article class="u-spacer--large">
        	<h2 class="h2" id="todo">Beperkingen</h2>
          Brute-force raden van rijksregisternummers is mogelijk. Om dit te vermijden zijn het aantal calls binnen een tijdspanne beperkt. <br/>
          Mocht deze beperking overschreden worden, dient er later opnieuw geprobeerd te worden.
        </article>
      </div>
    </div>
  </div>
</section>
