<section class="region region--alt">
  <div class="layout layout--wide">
    <div class="tabs__wrapper">
      <ul class="tabs" data-tabs-list>
        <li class="tab">
          {{#link-to "index" class="tab__link"}}<i class="fa fa-angle-left"></i> Terug naar overzicht{{/link-to}}
        </li>
      </ul>
    </div>

    <div class="grid">
      <div class="col--8-12 col--1-1--s">
        <h1 class="h1">Annotaties voor automatische melding</h1>
        <p>
          Lokale besturen publiceren beslissingen die via de Toezicht module in het Loket voor Lokale Besturen gemeld moeten worden. Loket voor Lokale Besturen biedt een API aan waarop publicaties van beslissingen gemeld kunnen worden, waarna ze automatisch geharvest zullen worden en toevoegd worden als nieuwe melding in Loket voor Lokale Besturen. Dit document beschrijft de annotaties die gebruikt worden voor automatische melding.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="region">
  <div class="layout layout--wide">
    <div class="grid">
      <div class="col--8-12 col--1-1--s">
        <div id="outline-container-orgheadline1">
          <div class="region typography">
            <h2 class="h2" id="orgheadline1">Gebruikte prefixen</h2>
            <div class="u-table-overflow">
              <table class="data-table data-table--zebra">
                <thead>
                  <tr>
                    <th>Prefix</th>
                    <th>URI</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>meb</td>
                    <td><a href="http://rdf.myexperiment.org/ontologies/base/">http://rdf.myexperiment.org/ontologies/base/</a></td>
                  </tr>
                  <tr>
                    <td>pav</td>
                    <td><a href="http://purl.org/pav/">http://purl.org/pav/</a></td>
                  </tr>
                  <tr>
                    <td>dct</td>
                    <td><a href="http://purl.org/dc/terms/">http://purl.org/dc/terms/</a></td>
                  </tr>
                  <tr>
                    <td>lblodBesluit</td>
                    <td><a href="http://lblod.data.gift/vocabularies/besluit/">http://lblod.data.gift/vocabularies/besluit/</a></td>
                  </tr>
                  <tr>
                    <td>adms</td>
                    <td><a href="http://www.w3.org/ns/adms">http://www.w3.org/ns/adms</a>#</td>
                  </tr>
                  <tr>
                    <td>muAccount</td>
                    <td><a href="http://mu.semte.ch/vocabularies/account/">http://mu.semte.ch/vocabularies/account/</a></td>
                  </tr>
                  <tr>
                    <td>eli</td>
                    <td><a href="http://data.europa.eu/eli/ontology">http://data.europa.eu/eli/ontology</a>#</td>
                  </tr>
                  <tr>
                    <td>org</td>
                    <td><a href="http://www.w3.org/ns/org">http://www.w3.org/ns/org</a>#</td>
                  </tr>
                  <tr>
                    <td>elod</td>
                    <td><a href="http://linkedeconomy.org/ontology">http://linkedeconomy.org/ontology</a>#</td>
                  </tr>
                  <tr>
                    <td>nie</td>
                    <td><a href="http://www.semanticdesktop.org/ontologies/2007/01/19/nie">http://www.semanticdesktop.org/ontologies/2007/01/19/nie</a>#</td>
                  </tr>
                  <tr>
                    <td>prov</td>
                    <td><a href="http://www.w3.org/ns/prov">http://www.w3.org/ns/prov</a>#</td>
                  </tr>
                  <tr>
                    <td>nfo</td>
                    <td><a href="http://www.semanticdesktop.org/ontologies/2007/03/22/nfo">http://www.semanticdesktop.org/ontologies/2007/03/22/nfo</a>#</td>
                  </tr>
                  <tr>
                    <td>&#xa0;</td>
                    <td>&#xa0;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="outline-container-orgheadline33">
          <h2 class="h2" id="orgheadline33">Entiteiten</h2>
          <div id="outline-container-orgheadline5">
            <h3 class="h3" id="orgheadline5">Submission</h3>

            <div class="region typography">
              <div id="outline-container-orgheadline2">
                <h4 class="h4" id="orgheadline2">Klasse</h4>
                <div>
                  <p class="u-spacer">
                    <code>meb:Submission</code>
                  </p>
                </div>
              </div>

              <div id="outline-container-orgheadline3">
                <h4 class="h4" id="orgheadline3">Beschrijving</h4>
                <div>
                  <p class="u-spacer">
                    De inzending van een meldingsplichtige publicatie. Een inzending wordt ingestuurd door een (externe) partij en leidt tot een (automatische) verwerking van het gepubliceerde document.
                  </p>
                </div>
              </div>
            </div>

            <div class="region typography" id="outline-container-orgheadline4">
              <h4 class="h4" id="orgheadline4">Eigenschappen</h4>
              <div class="u-table-overflow">
                <table class="data-table data-table--zebra">
                  <thead>
                    <tr>
                      <th>Naam</th>
                      <th>URI</th>
                      <th>Verwacht type</th>
                      <th>Beschrijving</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>organization</td>
                      <td><code>pav:createdBy</code></td>
                      <td><code>besluit:Bestuurseenheid</code></td>
                      <td>Bestuurseenheid die de publicatie gemaakt heeft.</td>
                    </tr>
                    <tr>
                      <td>publisher</td>
                      <td><code>pav:providedBy</code></td>
                      <td><code>foaf:Agent</code></td>
                      <td>Partij die de melding uitvoert.</td>
                    </tr>
                    <tr>
                      <td>submittedResource</td>
                      <td><code>dct:subject</code></td>
                      <td><code>foaf:Document (meestal besluit:Besluit)</code></td>
                      <td>Beslissing/document dat gemeld wordt.</td>
                    </tr>
                    <tr>
                      <td>status</td>
                      <td><code>adms:status</code></td>
                      <td><code>skos:Concept</code></td>
                      <td>Status van de melding.</td>
                    </tr>
                    <tr>
                      <td>href</td>
                      <td><code>prov:atLocation</code></td>
                      <td><code>rdfs:Resource</code></td>
                      <td>URL waarop het document gepubliceerd is.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="outline-container-orgheadline9">
            <h3 class="h3" id="orgheadline9">Vendor</h3>
            <div class="region typography">
              <div id="outline-container-orgheadline6">
                <h4 class="h4" id="orgheadline6">Klasse</h4>
                <div>
                  <p class="u-spacer">
                    <code>foaf:Agent</code>
                  </p>
                </div>
              </div>
              <div id="outline-container-orgheadline7">
                <h4 class="h4" id="orgheadline7">Beschrijving</h4>
                <div>
                  <p class="u-spacer">
                    (Externe) partij die een melding kan sturen.
                  </p>
                </div>
              </div>
            </div>
            <div class="region typography" id="outline-container-orgheadline8">
              <h4 class="h4" id="orgheadline8">Eigenschappen</h4>
              <div class="u-table-overflow">
                <table class="data-table data-table--zebra">
                  <thead>
                    <tr>
                      <th>Naam</th>
                      <th>URI</th>
                      <th>Verwacht type</th>
                      <th>Beschrijving</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>name</td>
                      <td><code>foaf:name</code></td>
                      <td><code>xsd:string</code></td>
                      <td>Naam van de agent.</td>
                    </tr>
                    <tr>
                      <td>key</td>
                      <td><code>muAccount:key</code></td>
                      <td><code>xsd:string</code></td>
                      <td>Sleutel waarmee geverifieerd kan worden of de agent een inzending mag insturen in naam van een andere organizatie.</td>
                    </tr>
                    <tr>
                      <td>canActOnBehalfOf</td>
                      <td><code>muAccount:canActOnBehalfOf</code></td>
                      <td><code>besluit:Bestuurseenheid</code></td>
                      <td>Bestuurseenheden in wiens naam de agent een melding mag insturen.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div  id="outline-container-orgheadline13">
            <h3 class="h3" id="orgheadline13">Submitted resource</h3>
            <div class="region typography">
              <div id="outline-container-orgheadline10">
                <h4 class="h4" id="orgheadline10">Klasse</h4>
                <div>
                  <p class="u-spacer">
                    <code>foaf:Document (meestal besluit:Besluit)</code>
                  </p>
                </div>
              </div>
              <div id="outline-container-orgheadline11">
                <h4 class="h4" id="orgheadline11">Beschrijving</h4>
                <div>
                  <p class="u-spacer">
                    Gepubliceerde beslissing/document dat het onderwerp is van de melding.
                  </p>
                </div>
              </div>
            </div>
            <div class="region typography" id="outline-container-orgheadline12">
              <h4 class="h4" id="orgheadline12">Eigenschappen</h4>
              <div class="u-table-overflow">
                <table class="data-table data-table--zebra">
                  <thead>
                    <tr>
                      <th>Naam</th>
                      <th>URI</th>
                      <th>Verwacht type</th>
                      <th>Beschrijving</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>publicationDate</td>
                      <td><code>eli:date_publication</code></td>
                      <td><code>xsd:date</code></td>
                      <td>De officiële publicatiedatum van het besluit.</td>
                    </tr>
                    <tr>
                      <td>passedBy</td>
                      <td><code>eli:passed_by</code></td>
                      <td><code>besluit:Bestuursorgaan</code></td>
                      <td>Het bestuursorgaan dat de beslissing goedgekeurd heeft.</td>
                    </tr>
                    <tr>
                      <td>subject</td>
                      <td><code>eli:is_about</code></td>
                      <td><code>foaf:Agent</code></td>
                      <td>Agent (organisatie, bestuurseenheid) waarover de beslissing handelt.</td>
                    </tr>
                    <tr>
                      <td>reportYear</td>
                      <td><code>elod:financialYear</code></td>
                      <td><code>xsd:gYear</code></td>
                      <td>Het boekjaar waarover de beslissing handelt.</td>
                    </tr>
                    <tr>
                      <td>firstDateInForce</td>
                      <td><code>eli:first_date_entry_in_force</code></td>
                      <td><code>xsd:date</code></td>
                      <td>De datum waarop de regelgeving van kracht wordt.</td>
                    </tr>
                    <tr>
                      <td>dateNoLongerInForce</td>
                      <td><code>eli:date_no_longer_in_force</code></td>
                      <td><code>xsd:date</code></td>
                      <td>De laatste dag waarop de regelgeving nog van kracht is.</td>
                    </tr>
                    <tr>
                      <td>authenticityType</td>
                      <td><code>lblodBesluit:authenticityType</code></td>
                      <td><code>skos:Concept</code></td>
                      <td>Authenticiteit van de ingestuurde beslissing.</td>
                    </tr>
                    <tr>
                      <td>chartOfAccount</td>
                      <td><code>lblodBesluit:chartOfAccount</code></td>
                      <td><code>skos:Concept</code></td>
                      <td>Code uit het Minimaal Algemeen Rekeningstelsel (MAR) waar in de beslissing naar verwezen wordt.</td>
                    </tr>
                    <tr>
                      <td>taxRate</td>
                      <td><code>lblodBesluit:taxRate</code></td>
                      <td><code>lblodBesluit:TaxRate</code></td>
                      <td>Aanslagvoet die in de beslissing bepaald wordt.</td>
                    </tr>
                    <tr>
                      <td>taxType</td>
                      <td><code>lblodBesluit:taxType</code></td>
                      <td><code>skos:Concept</code></td>
                      <td>Soort belasting die in de beslissing bepaald wordt.</td>
                    </tr>
                    <tr>
                      <td>hasAdditionalTaxRate</td>
                      <td><code>lblodBesluit:hasAdditionalTaxRate</code></td>
                      <td><code>xsd:boolean</code></td>
                      <td>Duidt aan of er nog bijkomende aanslagvoeten zijn dan deze beschreven in de beslissing.</td>
                    </tr>
                    <tr>
                      <td>description</td>
                      <td><code>dct:description</code></td>
                      <td><code>xsd:string</code></td>
                      <td>Beschrijving bij de beslissing.</td>
                    </tr>
                    <tr>
                      <td>comment</td>
                      <td><code>rdfs:comment</code></td>
                      <td><code>xsd:string</code></td>
                      <td>Opmerking bij de beslissing.</td>
                    </tr>
                    <tr>
                      <td>link</td>
                      <td><code>dct:hasPart</code></td>
                      <td><code>rdfs:Resource</code></td>
                      <td>URL van gerelateerd document dat een logisch onderdeel is van het besluit.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="outline-container-orgheadline17">
            <h3 class="h3" id="orgheadline17">Aanslagvoet</h3>
            <div id="outline-container-orgheadline14">
              <h4 class="h4" id="orgheadline14">Klasse</h4>
              <div>
                <p class="u-spacer">
                  <code>lblodBesluit:TaxRate &lt; schema:UnitPriceSpecification</code>
                </p>
              </div>
            </div>
            <div class="region typography" id="outline-container-orgheadline15">
              <h4 class="h4" id="orgheadline15">Beschrijving</h4>
              <div>
                <p class="u-spacer">
                  Percentage waarop de belasting berekend wordt.
                </p>
              </div>
            </div>
            <div class="region typography" id="outline-container-orgheadline16">
              <h4 class="h4" id="orgheadline16">Eigenschappen</h4>
              <div class="u-table-overflow">
                <table class="data-table data-table--zebra">
                  <thead>
                    <tr>
                      <th>Naam</th>
                      <th>URI</th>
                      <th>Verwacht type</th>
                      <th>Beschrijving</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>amount</td>
                      <td><code>schema:price</code></td>
                      <td><code>xsd:float</code></td>
                      <td>Geldbedrag dat per eenheid gerekend wordt.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="outline-container-orgheadline20">
            <h3 class="h3" id="orgheadline20">Bestuurseenheid</h3>
            <div class="region typography" id="outline-container-orgheadline18">
              <h4 class="h4" id="orgheadline18">Klasse</h4>
              <div>
                <p class="u-spacer">
                  <code>besluit:Bestuurseenheid</code>
                </p>
              </div>
            </div>
            <div class="region typography" id="outline-container-orgheadline19">
              <h4 class="h4" id="orgheadline19">Eigenschappen</h4>
              <div class="u-table-overflow">
                <table class="data-table data-table--zebra">
                  <thead>
                    <tr>
                      <th>Naam</th>
                      <th>URI</th>
                      <th>Verwacht type</th>
                      <th>Beschrijving</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>classificatie</td>
                      <td><code>besluit:classificatie</code></td>
                      <td><code>skos:Concept</code></td>
                      <td>Classificatie van de bestuurseenheid.</td>
                    </tr>
                    <tr>
                      <td>naam</td>
                      <td><code>skos:prefLabel</code></td>
                      <td><code>xsd:string</code></td>
                      <td>Naam van de bestuurseenheid.</td>
                    </tr>
                    <tr>
                      <td>identifier</td>
                      <td><code>dct:identifier</code></td>
                      <td><code>xsd:string</code></td>
                      <td>Identificator van de bestuurseenheid (vb. ondernemingsnummer).</td>
                    </tr>
                    <tr>
                      <td>bestuursorgaan</td>
                      <td><code>besluit:bestuurt</code></td>
                      <td><code>besluit:Bestuursorgaan</code></td>
                      <td>Bestuursorgaan die door de bestuurseenheid bestuurd wordt.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="outline-container-orgheadline23">
            <h3 class="h3" id="orgheadline23">Bestuursorgaan</h3>
            <div class="region typography" id="outline-container-orgheadline21">
              <h4 class="h4" id="orgheadline21">Klasse</h4>
              <div>
                <p class="u-spacer">
                  <code>besluit:Bestuursorgaan</code>
                </p>
              </div>
            </div>
            <div class="region typography" id="outline-container-orgheadline22">
              <h4 class="h4" id="orgheadline22">Eigenschappen</h4>
              <div class="u-table-overflow">
                <table class="data-table data-table--zebra">
                  <thead>
                    <tr>
                      <th>Naam</th>
                      <th>URI</th>
                      <th>Verwacht type</th>
                      <th>Beschrijving</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>classificatie</td>
                      <td><code>besluit:classificatie</code></td>
                      <td><code>skos:Concept</code></td>
                      <td>Het type bestuursorgaan.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="outline-container-orgheadline26">
            <h3 class="h3" id="orgheadline26">Behandeling van Agendapunt</h3>
            <div class="region typography" id="outline-container-orgheadline24">
              <h4 class="h4" id="orgheadline24">Klasse</h4>
              <div>
                <p class="u-spacer">
                  <code>besluit:BehandelingVanAgendapunt</code>
                </p>
              </div>
            </div>
            <div class="region typography" id="outline-container-orgheadline25">
              <h4 class="h4" id="orgheadline25">Eigenschappen</h4>
              <div class="u-table-overflow">
                <table class="data-table data-table--zebra">
                  <thead>
                    <tr>
                      <th>Naam</th>
                      <th>URI</th>
                      <th>Verwacht type</th>
                      <th>Beschrijving</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>onderwerp</td>
                      <td><code>dct:subject</code></td>
                      <td><code>besluit:Agendapunt</code></td>
                      <td>Het onderwerp van de activiteit.</td>
                    </tr>
                    <tr>
                      <td>besluit</td>
                      <td><code>prov:generated</code></td>
                      <td><code>besluit:Besluit</code></td>
                      <td>Een besluit dat is opgemaakt naar aanleiding van de behandeling van het agendapunt.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="outline-container-orgheadline29">
            <h3 class="h3" id="orgheadline29">Agendapunt</h3>
            <div class="region typography" id="outline-container-orgheadline27">
              <h4 class="h4" id="orgheadline27">Klasse</h4>
              <div>
                <p class="u-spacer">
                  <code>besluit:Agendapunt</code>
                </p>
              </div>
            </div>
            <div class="region typography" id="outline-container-orgheadline28">
              <h4 class="h4" id="orgheadline28">Eigenschappen</h4>
              <p>Geen relevante eigenschappen.</p>
            </div>
          </div>
          <div id="outline-container-orgheadline32">
            <h3 class="h3" id="orgheadline32">Zitting</h3>
            <div id="outline-container-orgheadline30">
              <h4 class="h4" id="orgheadline30">Klasse</h4>
              <div>
                <p class="u-spacer">
                  <code>besluit:Zitting</code>
                </p>
              </div>
            </div>
            <div class="region typography" id="outline-container-orgheadline31">
              <h4 class="h4" id="orgheadline31">Eigenschappen</h4>
              <div class="u-table-overflow">
                <table class="data-table data-table--zebra">
                  <thead>
                    <tr>
                      <th>Naam</th>
                      <th>URI</th>
                      <th>Verwacht type</th>
                      <th>Beschrijving</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>agendapunt</td>
                      <td><code>besluit:behandelt</code></td>
                      <td><code>besluit:Agendapunt</code></td>
                      <td>Een formeel vastgelegd agendapunt van de zitting.</td>
                    </tr>
                    <tr>
                      <td>gestartOpTijdstip</td>
                      <td><code>prov:startedAtTime</code></td>
                      <td><code>xsd:dateTime</code></td>
                      <td>Tijdstip waarop de zitting begint.</td>
                    </tr>
                    <tr>
                      <td>bestuursorgaan</td>
                      <td><code>besluit:isGehoudenDoor</code></td>
                      <td><code>besluit:Bestuursorgaan</code></td>
                      <td>Duidt aan door welk orgaan de zitting is gehouden.</td>
                    </tr>
                    <tr>
                      <td>notulen</td>
                      <td><code>besluit:heeftNotulen</code></td>
                      <td><code>foaf:Document</code></td>
                      <td>Notulen van de zitting.</td>
                    </tr>
                    <tr>
                      <td>besluitenlijst</td>
                      <td><code>besluit:heeftBesluitenlijst</code></td>
                      <td><code>foaf:Document</code></td>
                      <td>Besluitenlijst van de zitting.</td>
                    </tr>
                    <tr>
                      <td>agenda</td>
                      <td><code>besluit:heeftAgenda</code></td>
                      <td><code>foaf:Document</code></td>
                      <td>Agenda van de zitting.</td>
                    </tr>
                    <tr>
                      <td>uittreksel</td>
                      <td><code>besluit:heeftUittreksel</code></td>
                      <td><code>foaf:Document</code></td>
                      <td>Uittreksel van een besluit van de zitting.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h2 class="h2">Voorbeelden</h2>
          <h3 class="h3">Besluitenlijst</h3>
          {{#let (get-code-snippet "example-publication-besluitenlijst.html") as |snippet|}}
            <CodeBlock @language={{snippet.language}}>{{snippet.source}}</CodeBlock>
          {{/let}}
        </div>
        <div id="outline-container-orgheadline44">
          <div class="region typography">
            <h2 class="h2" id="orgheadline44">Meldingsplicht API</h2>
            <div class="region typography">
              <p class="u-spacer">
                Bekijk de API die vendors kunnen gebruiken om besluiten te melden: {{#link-to "docs.submission-api"}}Meldingsplicht&nbsp;API{{/link-to}}.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
