<div class="page">
  {{outlet}}

	<section class="region">
	  <div class="layout layout--wide" id="infoblock">
	    <div class="layout__wrapper">
	      <section class="info-block info-block--faq">
	        <header class="info-block__header">
	          <h1 class="label-above info-block__title">Vragen</h1>
	        </header>
	        <div class="info-block__content">
	          <p>Voor meer informatie kan u ons contacteren op <a href="mailto:digitaalABB@vlaanderen.be">digitaalABB@vlaanderen.be</a></p>
	        </div>
	      </section>
	    </div>
	  </div>
	</section>
</div>
