<div class="page">
  <section class="region">
    <div class="layout layout--wide">
      <h1 class="h1">Vendor and API integrator documentation page</h1>
      {{outlet}}
    </div>
  </section>
</div>
