{{outlet}}

<section class="region region--alt">
  <div class="layout layout--wide">
    <h2 class="h2">Beschikbare documentatie</h2>
    <ul class="grid grid--is-stacked js-equal-height-container">
      <li class="col--4-12 col--1-2--s col--12-12--xs" style="min-height: 194px;">
        {{#link-to "docs.submission-api" class="doormat js-equal-height u-mobile-no-equal-height"}}
          <div class="doormat__title">
            Meldingsplicht API
          </div>
          <span class="doormat__text">API om een nieuwe melding aan te maken in Loket voor Lokale Besturen op basis van een publicatie. Indien al de nodige velden ingevuld zijn, kan de melding automatisch verzonden worden.</span>
        {{/link-to}}
      </li>
      <li class="col--4-12 col--1-2--s col--12-12--xs" style="min-height: 194px;">
        {{#link-to "docs.submission-annotations" class="doormat js-equal-height u-mobile-no-equal-height"}}
          <div class="doormat__title">
            Annotaties voor automatische melding
          </div>
          <span class="doormat__text">Annotaties die gebruikt worden bij automatische meldingen van besluiten en documenten.</span>
        {{/link-to}}
      </li>
      <li class="col--4-12 col--1-2--s col--12-12--xs" style="min-height: 194px;">
        {{#link-to "docs.publication-annotations" class="doormat js-equal-height u-mobile-no-equal-height"}}
          <div class="doormat__title">
            Annotaties van besluiten en documenten
          </div>
          <span class="doormat__text">Annotaties die gebruikt worden bij de publicatie van besluiten en documenten opdat ze automatisch geharvest kunnen worden.</span>
        {{/link-to}}
      </li>
      <li class="col--4-12 col--1-2--s col--12-12--xs" style="min-height: 194px;">
        <a href="https://data.vlaanderen.be/doc/applicatieprofiel/besluit-publicatie/" target="_blank" rel="noopener" class="doormat js-equal-height u-mobile-no-equal-height">
          <div class="doormat__title">
            Besluit Publicatie
            <p><small class="uppercase text-fade"><i class="vi vi-external"></i> externe link</small></p>
          </div>
          <span class="doormat__text">Dit applicatieprofiel definieert een specificatie voor de publicatie van notulen en besluiten van bestuursorgaan.</span>
        </a>
      </li>
      <li class="col--4-12 col--1-2--s col--12-12--xs" style="min-height: 194px;">
        <a href="https://data.vlaanderen.be/doc/applicatieprofiel/mandatendatabank/" target="_blank" rel="noopener" class="doormat js-equal-height u-mobile-no-equal-height">
          <div class="doormat__title">
            Mandatendatabank
            <p><small class="uppercase text-fade"><i class="vi vi-external"></i> externe link</small></p>
          </div>
          <span class="doormat__text">Dit applicatieprofiel definieert een specificatie voor een gelinkte mandatendatabank op basis van gelinkte besluiten.</span>
        </a>
      </li>
      <li class="col--4-12 col--1-2--s col--12-12--xs" style="min-height: 194px;">
        {{#link-to "docs.leidinggevenden" class="doormat js-equal-height u-mobile-no-equal-height"}}
          <div class="doormat__title">
            Leidinggevenden
          </div>
          <span class="doormat__text">De leidinggevenden databank volgt het applicatieprofiel mandatendatabank, maar werd uitgebreid met enkele subklassen en eigenschappen.</span>
        {{/link-to}}
      </li>
    </ul>
  </div>
</section>

<section class="region">
  <div class="layout layout--wide">
    {{#link-to "index" class="link--icon--caret link--icon--caret--back"}}Terug naar overzicht{{/link-to}}
  </div>
</section>
