<div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
  <header class="content-header content-header--small content-header--half-image u-spacer">
    <div class="content-header__wrapper">
      <picture class="content-header__bg">
        <img
          sizes="50vw"
          src="https://loket.lokaalbestuur.vlaanderen.be/assets/images/loket-header-1600-85a5251e74ef6ac8491b2f228d2c90da.jpg"
          srcset="https://loket.lokaalbestuur.vlaanderen.be/assets/images/loket-header-320-85a5251e74ef6ac8491b2f228d2c90da.jpg 320w, https://loket.lokaalbestuur.vlaanderen.be/assets/images/loket-header-1024-85a5251e74ef6ac8491b2f228d2c90da.jpg 1024w, https://loket.lokaalbestuur.vlaanderen.be/assets/images/loket-header-1600-85a5251e74ef6ac8491b2f228d2c90da.jpg 1600w"
          alt=""
          title=""
        >
      </picture>
      <div class="layout layout--wide">
        <div class="content-header__content">
          <div class="content-header__logo-wrapper">
            <a href="#" class="content-header__entity-logo content-header__entity-logo--lowercase">
              <span class="content-header__entity-logo__prefix">Vlaanderen</span>
              <span class="content-header__entity-logo__title">is lokaal bestuur</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<section class="region">
  <div class="layout layout--wide">
    <div class="grid">
      <div class="col--6-12 col--12-12--s">
        <h1 class="h1">Gelinkt Notuleren: Vendor en API integrator documentatie</h1>
        <p>Integreer met systemen van Gelinkt Notuleren. Deze documentatie wordt verder aangevuld naarmate er meer API's beschikbaar zijn, en naarmate er meer vereisten gedefinieerd worden.</p>
      </div>
    </div>
  </div>
</section>

<section class="region region--alt">
  <div class="layout layout--wide">
    <h2 class="h2">Beschikbare documentatie</h2>
    <ul class="grid grid--is-stacked js-equal-height-container">
      <li class="col--4-12 col--1-2--s col--12-12--xs" style="min-height: 194px;">
        {{#link-to "docs.submission-api" class="doormat js-equal-height u-mobile-no-equal-height"}}
          <div class="doormat__title">
            Meldingsplicht API
          </div>
          <span class="doormat__text">API om een nieuwe melding aan te maken in Loket voor Lokale Besturen op basis van een publicatie. Indien al de nodige velden ingevuld zijn, kan de melding automatisch verzonden worden.</span>
        {{/link-to}}
      </li>
      <li class="col--4-12 col--1-2--s col--12-12--xs" style="min-height: 194px;">
        {{#link-to "docs.submission-annotations" class="doormat js-equal-height u-mobile-no-equal-height"}}
          <div class="doormat__title">
            Annotaties voor automatische melding
          </div>
          <span class="doormat__text">Annotaties die gebruikt worden bij automatische meldingen van besluiten en documenten.</span>
        {{/link-to}}
      </li>
      <li class="col--4-12 col--1-2--s col--12-12--xs" style="min-height: 194px;">
        {{#link-to "docs.publication-annotations" class="doormat js-equal-height u-mobile-no-equal-height"}}
          <div class="doormat__title">
            Annotaties van besluiten en documenten
          </div>
          <span class="doormat__text">Annotaties die gebruikt worden bij de publicatie van besluiten en documenten opdat ze automatisch geharvest kunnen worden.</span>
        {{/link-to}}
      </li>
      <li class="col--4-12 col--1-2--s col--12-12--xs" style="min-height: 194px;">
        <a href="https://data.vlaanderen.be/doc/applicatieprofiel/besluit-publicatie/" target="_blank" rel="noopener" class="doormat js-equal-height u-mobile-no-equal-height">
          <div class="doormat__title">
            Besluit Publicatie
            <p><small class="uppercase text-fade"><i class="vi vi-external"></i> externe link</small></p>
          </div>
          <span class="doormat__text">Dit applicatieprofiel definieert een specificatie voor de publicatie van notulen en besluiten van bestuursorgaan.</span>
        </a>
      </li>
      <li class="col--4-12 col--1-2--s col--12-12--xs" style="min-height: 194px;">
        <a href="https://data.vlaanderen.be/doc/applicatieprofiel/mandatendatabank/" target="_blank" rel="noopener" class="doormat js-equal-height u-mobile-no-equal-height">
          <div class="doormat__title">
            Mandatendatabank
            <p><small class="uppercase text-fade"><i class="vi vi-external"></i> externe link</small></p>
          </div>
          <span class="doormat__text">Dit applicatieprofiel definieert een specificatie voor een gelinkte mandatendatabank op basis van gelinkte besluiten.</span>
        </a>
      </li>
    </ul>
  </div>
</section>
