<AuApp>
  <AuBodyContainer
    @scroll={{true}}>
    <AuContentHeader
      @titlePartOne="Vlaanderen"
      @titlePartTwo="is lokaal bestuur"
      @pictureSize="default">
      <img sizes="50vw" src="assets/images/loket-header-1600.jpg" alt="Foto van een laptop met daarop het vlaanderen logo." />
    </AuContentHeader>
    <div class="au-d-component-block au-d-component-block--overflow">
      <AuContent
        class="center-children padded-children"
        @skin="default">
        <AuHeading
          class="centered au-u-margin-top au-u-max-width-medium"
          @level="1"
          @skin="1">
          Gelinkt Notuleren: Vendor en API integrator documentatie
        </AuHeading>
        <p class="au-u-para-lead centered au-u-max-width-medium">
          Integreer met systemen van Gelinkt Notuleren. Deze documentatie wordt verder aangevuld naarmate er meer API's beschikbaar zijn, en naarmate er meer vereisten gedefinieerd worden.
        </p>
        <section class="au-u-background-gray-100 au-u-padding-top au-u-padding-bottom">
          <div class="centered au-u-max-width-large">
          <AuHeading
            @level="2"
            @skin="2">
            Beschikbare documentatie
          </AuHeading>
          <Menu @fullSize={{true}} />
          </div>
        </section>
      </AuContent>
    </div>
    <Footer />
  </AuBodyContainer>
</AuApp>
